/* Theme Import */
@import url(/misc/uniElements/theme.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Testimonial Intro */
.testimonialIntro{
    width: 100vw;
    min-height: 25vh;
    padding: 5vh;      /* top, right, bottom, left */
    background-color: var(--primaryBackgroundColor);
    display: flex;
    flex-direction: column;      
    justify-content: center;
}

.testimonialIntro h1{
    align-self: center;
    font-size: 4vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryHeadingText);
}

.testimonialIntro p{
    align-self: center;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryParagraphText);
    padding: 0vh 6vw;      /* top, right, bottom, left */
}

/* Testimonial Entry */
#testimonialsEnteries{
    width: 100vw;
    padding: 5vh;
    background-color: var(--secondaryBackgroundColor);  
}

#testimonialsGrid{    
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    flex: 1 1 100%;
    gap: 3vh;
    justify-content: center;
}

.testimonialsBox{
    background-color: white;
    max-width: 40vh;
    min-height: 51vh;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 0.8vh;
}

.quoteMarks{
    height: 6vh;
    width: auto;
    transform: rotate(180deg);

    position: absolute;
    margin: -2vh 0vh 0vh 1.5vh;     /* top, right, bottom, left */
}

.testimonialsImgBox{
    background-color: #d4d4d4;
    width: 13vh;
    height: 13vh;
    border-radius: 9vh;

    display: flex;
    justify-self: center;
    margin-top: 5vh;
}

.testimonialsImg{
    width: 13vh;
    height: 13vh;
    border-radius: 9vh;
}

.testimonialsDescription{
    padding: 3.3vh ;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.testimonialsTextSpacing{
    padding-bottom: 1.2vh;
}

.testimonialsCategory{
    font-weight: 100;
    font-size: 1.8vh;
    color: var(--primaryHeadingText);
}

.testimonialsName{
    font-size: 2.8vh;
    font-weight: 600;
    color: var(--primaryHeadingText);
}

.testimonialsReview{
    font-weight: 100;
    font-size: 2vh;
    text-align: center;
    padding-bottom: 2.6vh;
    color: var(--primaryParagraphText);
}

#reviewCentre{
    display: flex;
    align-items: center;
    justify-content: center;
}

#addReview{
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    height: 100%;             /* Ensure it fills the parent */
    width: 100%;    
    flex-direction: column;
}

#reviewCentre:hover{
    background-color: var(--shadowBackgroundColor);
}

.addReviewImg{
    height: 30vh;
    width: auto;

    fill: var(--secondaryHeadingText);
    stroke: var(--);
}